<div class="promo-section">
  <div class="promo-content">
    <div class="promo-text">
      <h2><strong>Booster votre activité !</strong></h2>
      <p>
        Créez votre compte gratuitement dès maintenant et gagnez en visibilité
        et en notoriété grâce à notre communauté de clients à la recherche de
        vos services à domicile.
      </p>
      <button class="cta-button" routerLink="/payment">
        Devenir prestataire
      </button>
    </div>
    <div class="promo-image">
      <img src="assets/logo2.png" alt="Promotion Image" />
    </div>
  </div>
</div>
