<div class="services-container">
  <div class="services-card">
    <div class="card-header">
      <h2>Liste des Prestataires</h2>
    </div>

    <div class="table-container">
      <table class="services-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Description</th>
            <th>Prix Normal</th>
            <th>Prix Réduit</th>
            <th>Images</th>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td class="product-id">{{ product.productId }}</td>
            <td class="product-name">{{ product.productName }}</td>
            <td class="product-category">{{ product.productCategory }}</td>
            <td class="product-description">
              {{ product.productDescription }}
            </td>
            <td class="product-price">{{ product.productActualPrice }}DT</td>
            <td class="product-price">
              {{ product.productDiscountedPrice }}DT
            </td>
            <td class="product-actions">
              <button (click)="showImages(product)" class="action-btn">
                <i class="fas fa-images"></i>
              </button>
            </td>
            <td class="product-actions">
              <button
                (click)="
                  product.productId !== undefined &&
                    editProductDetails(product.productId)
                "
                class="action-btn"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
            <td class="product-actions">
              <button
                (click)="
                  product.productId !== undefined &&
                    deleteProduct(product.productId)
                "
                class="action-btn delete-btn"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="products.length === 0" class="no-products">
        <i class="fas fa-info-circle"></i>
        <p>Aucun prestataire n'a été trouvé.</p>
      </div>

      <div class="load-more-container" *ngIf="showLoadMoreButton">
        ">
        <button (click)="loadMore()" class="load-more-btn">
          <i class="fas fa-plus"></i> plus...
        </button>
      </div>
    </div>
  </div>
</div>
